body {
    background-color: #0354AF;
}
.page-wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    font-family: Arial;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

.container-fluid {
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}